@{
    ViewBag.Title = "About";
}
@section css{
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
}
<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>About Us</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->
<div class="container-fluid about" style="padding-top:10em">

    <div class="row justify-content-sm-center">
        <div class="col-lg-5">
            <h1>Who we are</h1>
            <p>Leasing a vehicle is a handy activity when going on a work excursion or on a get-away with your family. In any case, the procedure can be somewhat confounded, as it could include legitimate lawful issues after you return the vehicle to the rental organization or a specific individual. Potential harms to the vehicle, extra charges, protection, and traffic tickets could all bring about potential legitimate activity. Customers renting vehicles faces challenges such as going through a lot of paperwork, not fully knowing who they are renting from, unable to inspect the car before pickup, unable to find a price within their budgets etc.</p>
            <p>ADAT solution is a web app that deals with the entire process of renting a car and creates a hassle-free experience for both the customer and the car dealerships. </p>
            <h3>Features</h3>
            <p>
                Customer/ Car dealer Registration
            </p>
            <p>
                User account management
            </p>
            <p>
                Vehicles information (Add, search, view, delete, update)
            </p>
            <p>
                Reservation of vehicle
            </p>
            <p>
                Booking of vehicle
            </p>
            <p>
                Generate necessary confirmation (receipt, confirmation message)
            </p>
            <p>
                User feedback
            </p>
            <p>
                Different Payment Method
            </p>
        </div>
        <div class="col-lg-5">
            <img src="~/Content/img/we-do/service1-img.png" />
        </div>
    </div>
    <div class="row justify-content-sm-center" style="padding-top:3em">
        <div class="col-lg-5">
            <img src="~/Content/img/we-do/service3-img.png" />
        </div>
        <div class="col-lg-5">
            <h3>Customer requirements</h3>

            <p class=""><i class="material-icons">check</i> Valid driver's liscense</p>
            <p class=""><i class="material-icons">check</i>Valid email address</p>
            <p class=""><i class="material-icons">check</i>Proof of address</p>
            <p class=""><i class="material-icons">check</i>Valid debit/credit card</p>

            <h3>Dealer requirements</h3>

            <p class=""><i class="material-icons">check</i> Valid driver's liscense</p>
            <p class=""><i class="material-icons">check</i>Valid vehicle documents (insurance)</p>
            <p class=""><i class="material-icons">check</i>Proof of address</p>
            <p class=""><i class="material-icons">check</i>Quality vehicle images</p>
            <p class=""><i class="material-icons">check</i>Valid debit/credit card</p>
        </div>
    </div>
    <div class="row justify-content-center" style="padding-top:5em">
        <a href="~/Content/Manual.pdf" class="rent-btn">Download our user manual <i class="fa fa-download"></i></a>
    </div>

</div>

